body {
  background: #f5f7e9;
  color: #f5f7e9;
  margin: 0;
  font-family: 'Rubik Puddles', cursive;
}

.graph {
  width: 550px;
  height: 550px;
  margin-left: 650px;
}

#formulaire {
  margin-left: 790px;
  margin-top: 60px;
}

#name {
  width: 300px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.nom{
  color: #ff0000;
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
}

.age{
  color: #ff0000;
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
}

.email{
  color: #ff0000;
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
}

.inscription{
 margin-top: 25px;
 margin-left: 120px;
}

#age {
  width: 300px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

#email {
  width: 300px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  font-family: 'Rubik Vinyl', cursive;
  color: #fa0000;

}

h3{
  font-family: cursive;
  color: #fa0000;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

h4{
  font-family: cursive;
  color: #fa0000;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 50px;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background: linear-gradient(rgb(139, 208, 251), rgb(173, 138, 255), rgb(251, 137, 234), rgb(255, 193, 78));
  color: #000000;
  text-align: center;
  border-radius: 3%;
  font-family: 'Rubik Puddles', cursive;
  font-weight: bolder;

}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Rubik Puddles', cursive;
  color: #000000;
}

.card-subtitle {
  margin-top: 15px;
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: rgb(9, 6, 241);
  font-weight: bolder;
}

.card-image {
  width: 200px;
}

#search-bar {
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 25px;
  border: 1px solid #ffffff;
  margin-left: 600PX;
  width: 700px;


}

#searchClick {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 20PX;
  font-weight: bolder;
  border-radius: 4px;
  text-align: center;
  background: #f5f7e9;
}

#typeFilter {

  margin-left: 800px;
  padding: 8px 8px;
  border-radius: 2px;
  font-size: 1.1rem;
  width: 300px;
  margin-top: 100px;
}

.hidden {
  display: none;
}

main #searchdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f5f7e9;
  display: flex;
  align-items: center;
  padding-left: 250px;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #b6b6b6;
  padding: 10px 30px;
 margin-right: 1590px;
  margin-top: 230px;
  border: none;
  color: rgb(255, 0, 0);
  border-radius: 5px;
  transition: transform 100ms;
  font-size: 20px;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0px 1px 2px darkred;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 325px) {
  #search-bar {
    max-width: 250px;

  }
}